
h1{
    padding-top: 2rem;
}

.home{
   
   padding-top: 3rem;
   padding-bottom: 2rem;
   
}


.center{
        text-align: center;
}

.add-link-form{

}

/* .heading{
     
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.heading-input{
    margin-left: 1rem;
}


input[type=text],input[type=url] {
    width: 74%;
    padding: 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 27px;
   
    resize: vertical;
    font-size: 15px;
  }

  input[type="submit"] {
    background: #07589a;
    margin: 0 auto;
    outline: 0;
    color: white;
    border: 0;
    padding: 12px 24px;
    border-radius: 4px;
    transition: all ease-in-out 0.1s;
    position: relative;
    display: inline-block;
    position:relative;
  }
.label{
    position:relative;
width:300px;
    font-size: 1rem;
    margin-left: 12px;
    vertical-align: middle;
    height: 50px;
    
}

.input{
    margin-left: 2rem;
    display: inline-block;

} */





.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.add-form{
   
    margin: 3rem ;
    
}

.green{
    margin: 3rem;
}

.pen{
    color: #138496;
    
}

.link{
    
    text-decoration: none;
}

.gap{
    padding-top: 2rem;
}

.links{
    color: black;
}

